.container {
  height: 230px;
  width: 230px;
  border-radius: 5px;
  position: relative;
}
.circle{
    border-radius:5px;
}
.circleone {
  height: 30px;
  width: 30px;
  position: absolute;
  animation-name: circleoneframes;
  animation-duration: 1s;
  background-color:orange;
  animation-iteration-count: infinite;
}
.circletwo {
  height: 30px;
  width: 30px;
  position: absolute;
  animation-name: circletwoframes;
  animation-duration: 1s;
  background-color:orange;
  animation-iteration-count: infinite;
}
.circlethree {
  height: 30px;
  width: 30px;
  position: absolute;
  animation-name: circlethreeframes;
  animation-duration: 1s;
  background-color:orange;
  animation-iteration-count: infinite;
}
.circlefour {
  height: 30px;
  width: 30px;
  position: absolute;
  animation-name: circlefourframes;
  animation-duration: 1s;
  background-color:orange;
  animation-iteration-count: infinite;
}
@keyframes circleoneframes {
  0%{
    top: 0px;
    left: 0px;
  }
  100%{
    top:0px;
    left:200px;
  }
}
@keyframes circletwoframes {
  0%{
    top:0px;
    left:200px;
  }
  100%{
    top:200px;
    left:200px;
  }
}
@keyframes circlethreeframes {
    0%{
        top:200px;
        left:200px;
    }
    100%{
      top:200px;
      left:0px;
    }
}
@keyframes circlefourframes {
    0%{
        top:200px;
        left:0px;
    }
    100%{
      top:0px;
      left:0px;
    }
}
